body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 2rem;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.status {
  font-size: 30px;
}

.reset {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  border: 5px;
  border-radius: 6px;
  padding: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.square {
  color: #ddd;
  background: transparent;
  border: 2px solid #fff;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  max-width: 150px;
}


.square:focus {
  outline: none;
  color: #fff;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}